In [2]:
import pandas as pd
import numpy as np
import os
from tqdm.auto import tqdm
pd.options.display.max_columns = None

In [2]:
files = [i for i in os.listdir() if '.csv' in str(i) and not('all' in str(i))]

In [3]:
files

['JeebNuNoi_comment.csv',
 'hearonboard_comment.csv',
 'ejan2016_comment.csv',
 'skoinewsHD_comment.csv',
 'nongngneverdie_comment.csv',
 'quoteV2_comment.csv',
 'pimrypiefc_comment1.csv',
 'dantruat_comment.csv',
 'kratoodrama_comment.csv',
 'fedfeboyband_comment.csv',
 'daghee_comment.csv',
 'pimrypiefc_comment.csv']

In [4]:
dfs = list()
for file in files:
    try:
        df = pd.read_csv(file)
        print(f'{file} {len(df)}')
        dfs.append(df)
    except:
        print(f'error {file}')
        pass

/home/posoma/miniconda3/envs/posoma/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

JeebNuNoi_comment.csv 1623440
hearonboard_comment.csv 2001297

/home/posoma/miniconda3/envs/posoma/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ejan2016_comment.csv 881588
skoinewsHD_comment.csv 355
nongngneverdie_comment.csv 482709
quoteV2_comment.csv 174346
pimrypiefc_comment1.csv 1717
dantruat_comment.csv 1292485
kratoodrama_comment.csv 1004850
fedfeboyband_comment.csv 1140337
daghee_comment.csv 1615087
pimrypiefc_comment.csv 1142054

In [5]:
df_all = pd.concat(dfs)

dfs = None
df = None

/home/posoma/miniconda3/envs/posoma/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [8]:
df_1 = df_all.copy()

In [12]:
df_1.columns

Index(['comment_author', 'comment_author_id', 'comment_id', 'comment_picture',
       'comment_reaction_1', 'comment_reaction_2', 'comment_reaction_3',
       'comment_reaction_count', 'comment_reply', 'comment_text',
       'comment_time', 'comment_top_fan', 'comment_u_time', 'comment_video',
       'post_id', 'reply_comment_author', 'reply_comment_author_id',
       'reply_comment_id', 'reply_comment_pic', 'reply_comment_reaction',
       'reply_comment_reaction_1', 'reply_comment_reaction_2',
       'reply_comment_reaction_3', 'reply_comment_text',
       'reply_comment_top_fan', 'reply_comment_video', 'reply_parent_comment',
       'reply_time', 'reply_u_time'],
      dtype='object')

In [14]:
df_1 = df_1[df_1.comment_author_id != 'User close an account']

In [17]:
df_1.comment_author_id = pd.to_numeric(df_1.comment_author_id)

In [30]:
def thai_unit_con(s):
    if type(s) == str:
        if 'พัน' in s:
            s = s.replace(' พัน', '')
            s = float(s) * 1000
        elif 'หมื่น' in s:
            s = s.replace(' หมื่น', '')
            s = float(s) * 10000
    return int(s)

In [23]:
df_1.comment_reaction_count = list(map(thai_unit_con, df_1.comment_reaction_count))

# change type
df_1.comment_reaction_count = pd.to_numeric(df_1.comment_reaction_count)

In [35]:
df_1.drop(columns = ['comment_time', 'reply_time'], inplace= True)

In [40]:
df_1.reply_comment_reaction = df_1.reply_comment_reaction.fillna(0)

df_1.reply_comment_reaction = list(map(thai_unit_con, df_1.reply_comment_reaction))
# change type
df_1.reply_comment_reaction = pd.to_numeric(df_1.reply_comment_reaction)

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332324 entries, 0 to 9332323
Data columns (total 28 columns):
Unnamed: 0                  int64
comment_author              object
comment_author_id           int64
comment_id                  int64
comment_picture             int64
comment_reaction_1          object
comment_reaction_2          object
comment_reaction_3          object
comment_reaction_count      float64
comment_reply               float64
comment_text                object
comment_top_fan             float64
comment_u_time              int64
comment_video               int64
post_id                     float64
reply_comment_author        object
reply_comment_author_id     float64
reply_comment_id            float64
reply_comment_pic           float64
reply_comment_reaction      int64
reply_comment_reaction_1    object
reply_comment_reaction_2    object
reply_comment_reaction_3    object
reply_comment_text          object
reply_comment_top_fan       float64
reply_comment_video         float64
reply_parent_comment        float64
reply_u_time                float64
dtypes: float64(11), int64(7), object(10)
memory usage: 1.9+ GB

In [44]:
df_1.to_csv('all_1_type.csv')

In [2]:
df_1 = pd.read_csv('all_1_type.csv')

# fill na

In [3]:
df_1.comment_author = df_1.comment_author.fillna('<UNK>')

df_1.comment_reaction_1 = df_1.comment_reaction_1.fillna('<NONE>')
df_1.comment_reaction_2 = df_1.comment_reaction_2.fillna('<NONE>')
df_1.comment_reaction_3 = df_1.comment_reaction_3.fillna('<NONE>')

df_1.comment_reaction_count = df_1.comment_reaction_count.fillna(0)

df_1.comment_reply = df_1.comment_reply.fillna(0)

df_1.comment_top_fan = df_1.comment_top_fan.fillna(0)

df_1 = df_1[np.logical_not(df_1.post_id.isna())]

In [4]:
df_1.isna().sum()

Unnamed: 0                        0
comment_author                    0
comment_author_id                 0
comment_id                        0
comment_picture                   0
comment_reaction_1                0
comment_reaction_2                0
comment_reaction_3                0
comment_reaction_count            0
comment_reply                     0
comment_text                      0
comment_top_fan                   0
comment_u_time                    0
comment_video                     0
post_id                           0
reply_comment_author        4772321
reply_comment_author_id     4772320
reply_comment_id            4772320
reply_comment_pic           4772320
reply_comment_reaction            0
reply_comment_reaction_1    7570878
reply_comment_reaction_2    9010538
reply_comment_reaction_3    9275993
reply_comment_text          4772320
reply_comment_top_fan       4772320
reply_comment_video         4772320
reply_parent_comment        4772320
reply_u_time                4772320
dtype: int64

# for comment

In [4]:
df_2 = df_1[(df_1.reply_comment_author_id.isna())]

In [5]:
df_2.to_csv('all_comment.csv')

# for reply

In [6]:
df_3 = df_1[np.logical_not(df_1.reply_comment_author_id.isna())]

In [7]:
df_3.reply_comment_reaction_1 = df_3.reply_comment_reaction_1.fillna('<NONE>')
df_3.reply_comment_reaction_2 = df_3.reply_comment_reaction_2.fillna('<NONE>')
df_3.reply_comment_reaction_3 = df_3.reply_comment_reaction_3.fillna('<NONE>')

/home/posoma/miniconda3/envs/posoma/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
df_3.reply_comment_author = df_3.reply_comment_author.fillna("<UNK>")

In [9]:
df_3.isna().sum()

Unnamed: 0                  0
comment_author              0
comment_author_id           0
comment_id                  0
comment_picture             0
comment_reaction_1          0
comment_reaction_2          0
comment_reaction_3          0
comment_reaction_count      0
comment_reply               0
comment_text                0
comment_top_fan             0
comment_u_time              0
comment_video               0
post_id                     0
reply_comment_author        0
reply_comment_author_id     0
reply_comment_id            0
reply_comment_pic           0
reply_comment_reaction      0
reply_comment_reaction_1    0
reply_comment_reaction_2    0
reply_comment_reaction_3    0
reply_comment_text          0
reply_comment_top_fan       0
reply_comment_video         0
reply_parent_comment        0
reply_u_time                0
dtype: int64

In [ ]:
df_3.to_csv('all_reply.csv')

# concat both comment and reply

In [2]:
df_2 = pd.read_csv('all_comment.csv')
df_3 = pd.read_csv('all_reply.csv')

In [3]:
df_fin = pd.DataFrame(columns=['id', 'parent_id', 'text', 'author', 'author_id', 'pic', 'video', 'reaction_1','reaction_2','reaction_3', 'reaction_count', 'u_time'])

In [22]:
tmp = df_2[:]

tmp = tmp.iloc[:, 2:16]

tmp1 = tmp[['comment_id', 'post_id', 'comment_text', 'comment_author', 'comment_author_id', 'comment_picture', 'comment_video', 'comment_reaction_1','comment_reaction_2','comment_reaction_3', 'comment_reaction_count', 'comment_u_time']]

tmp1.columns = ['id', 'parent_id', 'text', 'author', 'author_id', 'pic', 'video', 'reaction_1','reaction_2','reaction_3', 'reaction_count', 'u_time']

In [25]:
tmp = df_3[:]

In [26]:
tmp.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'comment_author', 'comment_author_id',
       'comment_id', 'comment_picture', 'comment_reaction_1',
       'comment_reaction_2', 'comment_reaction_3', 'comment_reaction_count',
       'comment_reply', 'comment_text', 'comment_top_fan', 'comment_u_time',
       'comment_video', 'post_id', 'reply_comment_author',
       'reply_comment_author_id', 'reply_comment_id', 'reply_comment_pic',
       'reply_comment_reaction', 'reply_comment_reaction_1',
       'reply_comment_reaction_2', 'reply_comment_reaction_3',
       'reply_comment_text', 'reply_comment_top_fan', 'reply_comment_video',
       'reply_parent_comment', 'reply_u_time'],
      dtype='object')

In [27]:
tmp2 = tmp[['reply_comment_id', 'comment_id', 'reply_comment_text', 'reply_comment_author', 'reply_comment_author_id', 'reply_comment_pic', 'reply_comment_video', 'reply_comment_reaction_1','reply_comment_reaction_2','reply_comment_reaction_3', 'reply_comment_reaction', 'reply_u_time']]

In [29]:
tmp2.columns = ['id', 'parent_id', 'text', 'author', 'author_id', 'pic', 'video', 'reaction_1','reaction_2','reaction_3', 'reaction_count', 'u_time']

In [30]:
tmp2

,id,parent_id,text,author,author_id,pic,video,reaction_1,reaction_2,reaction_3,reaction_count,u_time
0,1.737495e+15,1737331556368743,ห่วยตูนนี่หนักไปด้านเดียวจนไม่รู้ว่าที่ช่วยนี้...,Chiyanan Jantasopol,1.000089e+14,0.0,0.0,like,haha,<NONE>,10,1.545928e+09
1,1.737940e+15,1737331556368743,ห่วยตูนนี่เกินไป ผู้จัดการยังมีแซะ ห่วยตูนนี่ส...,Jedsadapon Kaewket,1.000011e+14,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.545928e+09
2,1.738080e+15,1737331556368743,มีตบดิ้นอีกเพจครับ ไปอ่านดู สนุกดี 😅,Attapon Sonsiri,1.737332e+15,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.545928e+09
3,1.738169e+15,1737336853034880,รางวัลสลิ่มของคนสลิ่ม,ปัณฑารัย์ เจิมพักตร์,1.737337e+15,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.545928e+09
4,1.350325e+15,1350322781736291,โง่ไง ไม่มาศึกษาดูงานที่บ้านเรา ควายแท้ๆ,Pun Ya Wat,1.000061e+14,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.518239e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
4031636,1.279496e+15,1279491768893057,Mmix Yuto ที่บอกอยากลองวันนั้นไงงง,Memeen Lewchalermwong,1.000011e+14,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.557242e+09
4031637,1.280118e+15,1280083425500558,Sirinya Ying เคยกินรสเกลือไง,May Heaha,1.000005e+14,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.557320e+09
4031638,1.279521e+15,1279475372228030,Ploy Pengpetch ลองแน้วววว 5555555 กลิ่นมะม่วงร...,Bandhita Sattapunkiri,1.279475e+15,0.0,0.0,<NONE>,<NONE>,<NONE>,0,1.557240e+09
4031639,1.279428e+15,1279426088899625,TItaporn Chotchuang ถ้าขนาดนี้ กินของจิงเลยดีม...,Ornjira Jansri,1.000003e+14,0.0,0.0,like,<NONE>,<NONE>,1,1.557234e+09
4031640,1.279430e+15,1279426088899625,Ornjira Jansri พรุ่งนี้ซื้อเลยนะ 555,TItaporn Chotchuang,1.236182e+09,0.0,0.0,haha,<NONE>,<NONE>,1,1.557234e+09

In [31]:
dfs = [tmp1, tmp2]

In [32]:
all_fin = pd.concat(dfs)

In [34]:
all_fin.to_csv('all_final.csv')

In [19]:
all_fin = pd.read_csv('all_final.csv', nrows=100000)

In [20]:
all_fin['reaction_level'] = 0

In [23]:
all_fin = all_fin.drop_duplicates(subset=['id'])

In [24]:
all_fin = all_fin.set_index('id')

In [26]:
all_fin.drop(columns=['Unnamed: 0'], inplace = True)

In [27]:
reactions = ['like', 'haha', 'sad', 'angry', 'love', 'wow']

In [28]:
for i in reactions:
    all_fin[i] = 0
for i in reactions:
    all_fin['super_' + i] = 0
for i in reactions:
    all_fin['sup_' + i] = 0

# check id duplicate

In [29]:
for i in tqdm(all_fin.index):
    if all_fin.at[i, 'reaction_1'] != '<NONE>':
        all_fin.at[i, 'reaction_level'] += 1
    if all_fin.at[i, 'reaction_2'] != '<NONE>':
        all_fin.at[i, 'reaction_level'] += 1
    if all_fin.at[i, 'reaction_3'] != '<NONE>':
        all_fin.at[i, 'reaction_level'] += 1

HBox(children=(IntProgress(value=0, max=99919), HTML(value='')))

In [30]:
ratios = {1: [1], 2:[0.6, 0.4], 3:[0.5, 0.3, 0.2]}

In [31]:
reactions

['like', 'haha', 'sad', 'angry', 'love', 'wow']

In [32]:
for i in tqdm(all_fin.index):
    if all_fin.at[i,'reaction_level'] != 0:
        ratio = ratios[all_fin.at[i,'reaction_level']]
        start = 0
        for j in ratio:
            all_fin.at[i, reactions[start]] = j * all_fin.at[i, 'reaction_count']
            start+=1

HBox(children=(IntProgress(value=0, max=99919), HTML(value='')))

In [33]:
child_parent = dict()
for i in tqdm(all_fin.index):
    child_parent[i] = all_fin.at[i, 'parent_id']

HBox(children=(IntProgress(value=0, max=99919), HTML(value='')))

In [35]:
reactions

['like', 'haha', 'sad', 'angry', 'love', 'wow']

In [36]:
err_parent_Id = set()

# Problem may come from not have parent data

In [37]:
for i in tqdm(all_fin.index):
    try:
        for j in reactions:
            all_fin.at[i, 'super_' + j] = all_fin.at[child_parent[i], j]
    except:
        err_parent_Id.add(i)

HBox(children=(IntProgress(value=0, max=99919), HTML(value='')))

In [34]:
list(enumerate(all_fin))

[(0, 'parent_id'),
 (1, 'text'),
 (2, 'author'),
 (3, 'author_id'),
 (4, 'pic'),
 (5, 'video'),
 (6, 'reaction_1'),
 (7, 'reaction_2'),
 (8, 'reaction_3'),
 (9, 'reaction_count'),
 (10, 'u_time'),
 (11, 'reaction_level'),
 (12, 'like'),
 (13, 'haha'),
 (14, 'sad'),
 (15, 'angry'),
 (16, 'love'),
 (17, 'wow'),
 (18, 'super_like'),
 (19, 'super_haha'),
 (20, 'super_sad'),
 (21, 'super_angry'),
 (22, 'super_love'),
 (23, 'super_wow'),
 (24, 'sup_like'),
 (25, 'sup_haha'),
 (26, 'sup_sad'),
 (27, 'sup_angry'),
 (28, 'sup_love'),
 (29, 'sup_wow')]

In [55]:
parent_child = {}
for i in list(set(child_parent.values())):
    parent_child[i] = []
for i,v in tqdm(child_parent.items()):
    parent_child[v].append(i)

HBox(children=(IntProgress(value=0, max=99919), HTML(value='')))

In [ ]:
# sup
for i in tqdm(all_fin.index):
    for j in reactions
        tmp_list = []
        for k in parent_child[i]:
            tmp_list.append()